#logo {
  background-image: url('/client/css/download.png');
  text-align: center;
}


#challenge {
  font: #0D47A1;
}

<<<<<<< HEAD
@media screen and (max-width:1024px) {
  img.responsive {
    width: 400px;
  }
  #logo {
    height: 100%
  }
}

@media screen and (max-width:1024px) {
  #logo {
    height: 100%
  }
}

@media screen and (min-width:1025px) {
  img.responsive {
    width: 650px;
  }
}

img.responsive {
  height: auto;
=======
.menuItem {
  font-family: Pacifico;
  background-color: #EC407A;
>>>>>>> [styling] commit before pull
}
