html,body {
  height: 100%;
  /* margin: 0px;
  padding: 0px; */
}

#logo {
  background-image: url('/client/css/download.png');
  text-align: center;
  align-content: center;
position:fixed;
padding:0;
margin:0;
top:0;
left:0;
width: 100%;
height: 100%;
}
#appRouter{
   display:block;
   overflow:auto;
}


#challenge {
  font: #0D47A1;
}

@media screen and (max-width:1024px) {
  img.responsive {
    width: 400px;
  }
  #logo {
    height: 100%
  }
  #trophyCanvas {
    width: 400;
    height: 400;
  }
}

@media screen and (max-width:1024px) {
  #logo {
    height: 100%
  }
}

@media screen and (min-width:1025px) {
  img.responsive {
    width: 650px;
  }
}

img.responsive {
  height: auto;
}

body {
  background: '#F8EEE7';
  min-height: 100%;
  margin: auto;
}

html {
  height: 100%;
}